{% extends "base.html" %} 

{% block title %}
    Подписки | {{ block.super }}
{% endblock title %}


{% comment %} {% extends "base_generic.html" %} {% endcomment %}

{% block content %}
  {% comment %} <h1>Настройки подписок</h1> {% endcomment %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-block">
        Сохранить
    </button>
  </form>
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}